<%= form_for @user do |f| %>
    <label>Name:</label>
    <%= f.text_field :name %><br />
    <label>Password:</label>
    <%= f.text_field :password %><br />
    <label>Password Confirmation:</label>
    <%= f.text_field :password_confirmation %><br />
    <%= f.submit %>
<% end %>